
<h1>Login and Registration page</h1>
<div align="center">
<p>
  Welcome customer
</p>
<br>
<button mat-raised-button (click)="register()" *ngIf="showRegister"><mat-icon>login</mat-icon>Register</button>
<button mat-raised-button (click)="login()" *ngIf="showLogin"><mat-icon>login</mat-icon>Login</button>
<br>
<br>
<button mat-raised-button (click)="showLoginButton()" *ngIf="!showLogin">Already have an account? Sign in</button>
<button mat-raised-button (click)="showRegisterButton()" *ngIf="!showRegister">Create an account</button>
</div>
