<h1>Registration and login page
</h1>
<div class="form-container" align="center">
  <form [formGroup]="regForm" *ngIf="showRegister">
    <mat-form-field>
      <mat-label>Enter your full name</mat-label>
      <input matInput placeholder="Name Surname" formControlName="name" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Enter your username</mat-label>
      <input matInput placeholder="Username" formControlName="username" required>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="Email" formControlName="email" required>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Select your role</mat-label>
      <mat-select formControlName="role" required>
        <mat-option *ngFor="let role of roles" value={{role}}>{{role}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br/>
    <button mat-raised-button (click)="register()" [disabled]="!regForm.valid" *ngIf="showRegister">
      <mat-icon fontIcon="login">
      </mat-icon>Register</button>
  </form>
  <form [formGroup]="logForm" *ngIf="showLogin">
    <mat-form-field>
      <mat-label>Enter your username</mat-label>
      <input matInput placeholder="Username" formControlName="username" required>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="login()" [disabled]="!logForm.valid" *ngIf="showLogin">
      <mat-icon fontIcon="login">
      </mat-icon>>Login</button>
</form>
  <br/>
  <button mat-raised-button (click)="showLoginButton()" *ngIf="!showLogin">Already have an account? Sign in</button>
  <button mat-raised-button (click)="showRegisterButton()" *ngIf="!showRegister">Create an account</button>
</div>
<mat-divider></mat-divider>
<br/>
