<button mat-raised-button [matMenuTriggerFor]="menu">Products action Menu<mat-icon>menu</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="showSearchProduct()">Search a product</button>
</mat-menu>
<mat-divider></mat-divider>
<br>
<div class="search-form"  *ngIf="!hideSearchProduct" align="center">
  <form [formGroup]="search">
    <mat-form-field>
      <mat-label>Search input here</mat-label>
      <input matInput placeholder="Something" formControlName="searchControl">
    </mat-form-field>
  </form>
  <mat-card class="card-product" *ngIf="product">
    <mat-card-header>
      <mat-card-title>Product information</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p *ngFor="let property of product | keyvalue">
        {{property.key}}: {{property.value}};
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button (click)="addToCart(product)">Add to cart<mat-icon>add_shopping_cart</mat-icon></button>
      <button mat-raised-button (click)="collapse()">Collapse</button>
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>
  <br>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter(filterForm.value)" placeholder="Something" formControlName="filterForm">
  </mat-form-field>
  <mat-table #table [dataSource]="dataSourceSearch" matSort *ngIf="!hideTab">
    <ng-container matColumnDef="id">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let pr"> {{pr.id}} </td>
    </ng-container>
    <ng-container matColumnDef="barCode">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Barcode </th>
      <td mat-cell *matCellDef="let pr"> {{pr.barCode}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let pr"> {{pr.name}} </td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let pr"> {{pr.category}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let pr"> {{pr.price}}€ </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let pr"> {{pr.description}} </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let pr"> {{pr.quantity}} </td>
    </ng-container>
    <ng-container matColumnDef="action" class="action-class">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let pr" align="center">
        <button mat-icon-button (click)="addToCart(pr)"> <mat-icon>add_shopping_cart</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons *ngIf="!hideTab"
  aria-label="Select page of products">
  </mat-paginator>
  <button mat-raised-button (click)="searchByBarcode()" ><mat-icon fontIcon="search">
  </mat-icon>Search</button>
  <button mat-raised-button (click)="searchByName()" ><mat-icon fontIcon="search">
  </mat-icon>Search by name</button>
  <button mat-raised-button (click)="collapseSearchTab()"><mat-icon fontIcon="expand_less">
  </mat-icon>Collapse</button>
  <mat-divider></mat-divider>
  <br>
</div>
<mat-divider></mat-divider>
<br>
<div class="product-tab" align="center">
  <mat-table #table [dataSource]="dataSource" matSort *ngIf="showAll" >
    <ng-container matColumnDef="id">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let product"> {{product.id}} </td>
    </ng-container>
    <ng-container matColumnDef="barCode">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Barcode </th>
      <td mat-cell *matCellDef="let product"> {{product.barCode}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let product"> {{product.name}} </td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let product"> {{product.category}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let product"> {{product.price}}€ </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let product"> {{product.description}} </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let product"> {{product.quantity}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let product" align="end">
        <button mat-icon-button (click)="addToCart(product)">
          <mat-icon>add_shopping_cart</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of products">
  </mat-paginator>
</div>
